Obeject Orient (oops concept)

In [ ]:
class Python:
  def fun(self):
        print("Welcome to oops concept")
pyt=Python()
pyt.fun()

Welcome to oops concept

In [ ]:
class Car:
    'Common_Car'
    car=0
    def __init__(self,name,id):
        self.name=name
        self.id=id
        Car.car+=1
    def printCardata(self):
        print("Name: ",self.name,"Id: ",self.id)
c=Car("Audi",2000000)
c.printCardata()

Name:  Audi Id:  2000000

In [ ]:
class Employee:
  def set_data(self,n,a,s):
    self.name=n
    self.age=a
    self.sal=s
  def display_data(self):
    print("Name: ",self.name,"Age: ",self.age,"Sal: ",self.sal)
e1=Employee()
e1.set_data("Gangadhar",23,27000)
e1.display_data()

Name:  Gangadhar Age:  23 Sal:  27000

In [ ]:
class Employee:
    def init(self,n,a,s):
        self.name = n
        self.age = a
        self.salary = s
    def display_data(self):
        print(self.name,self.age,self.salary)
e1= Employee()
e1.init("Gangadhar",23,27000)
e1.display_data()

Gangadhar 23 27000

In [ ]:
class Birds:
    def set_data(self,name):
        self.name=name
    def display_data(self):
        print(self.name)
b1=Birds()
b1.set_data("Parrot")
b1.display_data()

Parrot

In [ ]:
class Number:
    def __init__(self,n):
        self.number = n
    def check_num(self):
        if self.number > 0:
            print("Positive")
        else:
            print("Negative")
n1 = Number(26)
n1.check_num()

Positive

In [ ]:
class Number:
    def __init__(self,n):
        self.number=n
    def check_num(self):
        if self.number>0:
            print("positive")
        else:
            print("negative")


n1=Number(int(input("enter a number")))
n1.check_num()

enter a number26
positive

In [ ]:
class Test:
    x=10
    def __init__(self):
        print("Hello")
t=Test()
print(Test.x)

Hello
10

In [ ]:
class Car:
    'Common_Car'
    car=0
    def __init__(self,name,id):
        self.name=name
        self.id=id
        Car.car+=1
    def printCardata(self):
        print("Name: ",self.name,"Id: ",self.id)
c=Car("Audi",2000000)
c1=Car("BMW",3000000)
c2=Car("Benz",1000000)
print("Total Cars: ",Car.car)
c.printCardata()
c1.printCardata()
c2.printCardata()

Total Cars:  3
Name:  Audi Id:  2000000
Name:  BMW Id:  3000000
Name:  Benz Id:  1000000

In [ ]:
class test:
    def __init__(self):
        self.variable = 'Car'
        self.Change(self.variable)
    def Change(self, var):
        var = "Bike"
obj=test()
print(obj.variable)

Car

In [ ]:
class test:
    def __init__(self):
        self.variable = 'Car'
        self.Change(self.variable)
    def Change(self, var):
        self.var = "Bike"
obj=test()
print(obj.variable)
print(obj.var);

Car
Bike

In [ ]:
class test:
    def __init__(self):
        self.variable = 'Car'
        self.Change(self.variable)
    def Change(self, var):
        var = 'Bike'
        print(var)
obj=test()
print(obj.variable)

Bike
Car

In [ ]:
class Car:
    def speed(self):
      print("100km")
class Audi(Car):
    def engine(self):
      print("Engine is powerful")
c=Audi()
c.engine()
c.speed()

Engine is powerful
100km

In [ ]:
class Animal:
    def speak(self):
        print("Some generic sound")
class Dog(Animal):
    def sound(self):
        print("bark")
class Cat(Animal):
    def sound(self):
        print("meow")

dog = Dog()
cat = Cat()

dog.sound()
cat.sound()

bark
meow

In [ ]:
class Bike:
    def speak(self):
        print("Some generic sound")
class BMW(Bike):
    def sound(self):
        print("Vroom")
class Ninja(Bike):
    def sound(self):
        print("Boom")

BMW = BMW()
Ninja = Ninja()

BMW.sound()
Ninja.sound()

Vroom
Boom

In [ ]:
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
class calculate:
    def sum(self,x,y):
      self.x=x
      self.y=y
      print(self.x+self.y)

    def sub(self,x,y):
      self.x=x
      self.y=y
      print(self.x-self.y)

class AdvanceCalculate(calculate):
    def mul(self,x,y):
      self.x=x
      self.y=y
      print(self.x*self.y)

    def div(self,x,y):
      self.x=x
      self.y=y
      print(self.x/self.y)
c=AdvanceCalculate()
c.sum(x,y)
c.sub(x,y)
c.mul(x,y)
c.div(x,y)

Enter the first number10
Enter the second number2
12
8
20
5.0

Single Inheritence

In [ ]:
class Calculator:
  def add(self,num1,num2):
    self.num1=num1;
    self.num2=num2;
    return self.num1+self.num2;
  def sub(self,num1,num2):
    return num1-num2;
class AdvancedCalculator(Calculator):
    def mul(self,num1,num2):
      print("Multiplication:",num1*num2);
    def div(self,num1,num2):
      return num1//num2;
x=AdvancedCalculator()
num1=int(input())
num2=int(input())
print("Addition : %d"%(x.add(num1,num2)))
print("Subtraction :",x.sub(num1,num2))
x.mul(num1,num2)
print("Floor Division : %d"%(x.div(num1,num2)))

10
2
Addition : 12
Subtraction : 8
Multiplication: 20
Floor Division : 5

Multiple Inheritence

In [ ]:
class normalroom:
  def add(no.)